{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": true,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": true,
            "regexUFlag": true,
            "regexYFlag": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "unicodeCodePointEscapes": true,
            "globalReturn": true,
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "rules": {
        // Common errors
        "no-debugger": 0,
        "no-extra-parens": [2, "all", {"ignoreJSX": "multi-line"}],
        "no-negated-in-lhs": 2,
        "valid-jsdoc": [1, {"prefer": {"requireReturn": "false", "requireParamDescription": "false"}}],

        // Best Practices
        "default-case": 2,
        "no-alert": 1,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-labels": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-floating-decimal": 2,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 2,
        "no-process-env": 0,
        "no-proto": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-void": 2,
        "no-warning-comments": [0, {"terms": ["todo", "fixme"], "location": "start"}],
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": 2,
        "yoda": 2,

        // toggle these later
        "no-class-assign": 0,
        "no-unused-vars": [1, {"args": "after-used"}],
        "no-mixed-operators": 0,
        "no-prototype-builtins": 0,
        "no-useless-escape": 0,
        "react/no-multi-comp": 0,

        // Strict Mode
        "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`

        // Variables
        "no-catch-shadow": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-undef-init": 2,
        "no-use-before-define": 2,

        //Stylistic Issues
        "array-bracket-newline": [2, {"multiline": true}],
        "array-bracket-spacing": [2, "never"],
        "array-element-newline": [2, "consistent"],
        "block-spacing": [2, "always"],
        "brace-style": 2,
        "comma-dangle": [2, "always-multiline"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "indent": [2, 2, {"SwitchCase": 1}],
        "camelcase": 2, // require camel case names
        "consistent-this": [2, "self"],
        "eol-last": 2,
        "func-call-spacing": [2, "never"],
        "function-call-argument-newline": [2, "consistent"],
        "implicit-arrow-linebreak": [2, "beside"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": [2, {"before": true}],
        "lines-between-class-members": [2, "always"],
        "no-array-constructor": 2,
        "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
        "no-continue": 2,
        "no-lonely-if": 1,
        "no-multi-assign": 2,
        "no-multiple-empty-lines": [2, {"max": 1}],
        "no-new-object": 2,
        "no-trailing-spaces": 2,
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 2,
        "nonblock-statement-body-position": [2, "below"],
        "object-curly-newline": [2, {"multiline": true}],
        "object-curly-spacing": [2, "never"],
        "object-property-newline": [2, { "allowAllPropertiesOnSameLine": true }],
        "one-var": [2, "never"],
        "operator-assignment": 2,
        "operator-linebreak": [2, "before", { "overrides": { "=": "after" } }],
        "padded-blocks": [2, "never"],
        "prefer-object-spread": 2,
        "prefer-exponentiation-operator": 2,
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "semi-style": [2, "last"],
        "max-nested-callbacks": [1, 3],
        "new-parens": 2,
        "no-spaced-func": 2,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "never", "named": "never"}],
        "space-in-parens": [2, "never"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "spaced-comment": [2, "always"],

        // ECMAScript 6
        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": [2, "as-needed"],
        "arrow-spacing": 2,
        "no-duplicate-imports": 2,
        "no-useless-computed-key": [2, { "enforceForClassMembers": true }],
        "no-useless-rename": 2,
        "object-shorthand": 2,
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-destructuring": [2,
            {
                "VariableDeclarator": { "array": true, "object": true },
                "AssignmentExpression": { "array": false, "object": false }
            },
            { "enforceForRenamedProperties": false }
        ],
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "prefer-template": 2,
        "rest-spread-spacing": [2, "never"],
        "template-curly-spacing": 2,
        "no-var": 2,
        "generator-star-spacing": [2, "before"],

        // Legacy
        //
        // The following rules are included for compatibility with JSHint and JSLint.
        // While the names of the rules may not match up with the JSHint/JSLint counterpart,
        // the functionality is the same.
        //
        "max-len": [1, 256, 1],
        // eslint-plugin-react
        "react/display-name": 0,

        # wait for the parantheses rule
        "react/jsx-closing-tag-location": 2,
        "react/jsx-closing-bracket-location": [2, "tag-aligned"],
        "react/jsx-curly-brace-presence": [2, "never"],
        "react/jsx-curly-newline": 2,
        "react/jsx-curly-spacing": 2,
        "react/jsx-equals-spacing": 2,
        "react/jsx-first-prop-new-line": 2,
        "react/jsx-max-props-per-line": [2, {"when": "multiline"}],
        "react/jsx-no-useless-fragment": 2,
        "react/jsx-one-expression-per-line": [2, {allow: "single-child"}],
        "react/jsx-pascal-case": 2,
        "react/jsx-tag-spacing": 2,
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/jsx-indent": [2, 2],
        "react/jsx-wrap-multilines": [2, {
            "declaration": "parens-new-line",
            "assignment": "parens-new-line",
            "return": "parens-new-line",
            "arrow": "parens-new-line",
            "condition": "parens-new-line",
            "logical": "parens-new-line",
            "prop": "parens-new-line"
        }]
    }
}
